.message-container {
  position: fixed;
  top: 20px;
  z-index: 20;
  display: flex;
  left: 0;
  right: 0;
  justify-content: center;
  flex-direction: column;
}

.base-message {
  text-align: center;
  background: #ffffff;
  padding: 16px 32px;
  margin: 8px auto;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  color: #454545;
  font-size: 15px;
  display: flex;
  align-items: center;
}
